.card-img{
  border-radius: 50%;
  max-width: 150px;
  max-height: 150px;
  border: 2px solid #673ab7;
}

.container-fluid{
  height:100vh!important;
  width:100vw!important;
  background-color:#f6f9ff;
}


.tarjetas{
  margin-top:20vh;
}