<div class="container-fluid">

  <div class="row">

    <!-- <div class="espaciado"> -->
    <div class="col-sm-6">
      <div class="tarjetas">
        <mat-card class=" mat-elevation-z4 mx-auto" style="width: 30rem;">
          ale
        </mat-card>
      </div>
    </div>


    <div class="col-sm-6">
      <div class="tarjetas">
        <mat-card class=" mat-elevation-z4 mx-auto" style="width: 30rem;">

          ema
        </mat-card>
      </div>
    </div>

    <!-- </div> -->

  </div>
</div>