<mat-toolbar color="primary">
        <span>Hero for Pets</span> <!-- TODO: cambiar por png de esto, mas lindo-->

        <span class="rellenar"></span> 
      
        <button class="btn btn-outline-light mr-2">registrarme</button>
        <button class="btn btn-success"> Ingresar </button>
</mat-toolbar>

<div style="height:85vh !important;">
    
    contenido de landing

    <app-login></app-login>

</div>

<mat-toolbar color="primary" >
        <span>footer de la aplicacion</span> <!-- TODO: cambiar por png de esto, mas lindo-->

        <!-- <span class="rellenar"></span> 
      
        <button class="btn btn-outline-light mr-2">registrarme</button>
        <button class="btn btn-success"> Ingresar </button> -->
</mat-toolbar>
