// <style>
@import url('https://fonts.googleapis.com/css?family=Calistoga|Indie+Flower|Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Handlee|Hind+Guntur&display=swap');
// </style>

.lan-page{
     height:100vh!important;
     background-color:#f6f9ff;
  }

.footer{
   position: fixed;
   bottom: 0;
   font-size:16px;
  }

i{
     font-size:40px;
     color: #8d8c8c
  }

.description{
    color: #000000;
   vertical-align: super;
   margin-left:10px;
}

.titulo{
  font-family: 'Hind Guntur', sans-serif;
}

.texto{
  font-size: 1.1em;
}

.item{
  font-family: 'Pacifico', cursive;
}


@media (min-width: 1500px){
  mat-card {
    
    max-width: 50%;
  }
}

@media (max-width: 1500px){
  mat-card {
    
    max-width: 65%;
  }
}

@media (max-width: 1200px){
  mat-card {
    
    max-width: 80%;
  }
}

@media (max-width: 1000px){
  mat-card {
    
    max-width: 90%;
  }
}

@media (max-width: 800px){
  mat-card {
    
    max-width: 100%;
  }
}