
.lan-page{
     height:100vh!important;
     background-color:#f6f9ff;
  }

.footer{
   position: fixed;
   bottom: 0;
   font-size:16px;
  }

i{
     font-size:40px;
     color: #8d8c8c
  }

.description{
    color: #000000;
   vertical-align: super;
   margin-left:10px;
}

mat-card{
   max-width: 60%;
}