<div class="container-fluid ">
  <div class="row">
    <div class="col nopadding">
      <div class="lan-page">

        <mat-toolbar color="primary" class="mat-elevation-z4">

          <mat-toolbar-row >
            <span>Hero for Pets</span>
            <img src="/assets/img/logoH4Pblanco.png" class="ml-3" alt="H4P" height="45" width="45">
            <span class="rellenar-tb"></span>
            <button class="btn btn-success" (click)="logIn()">Ingreso / registro</button>
          </mat-toolbar-row>
        </mat-toolbar>

        <div class="container">
          <div class="row">
            <div class="col-sm-6 text-center">
              <!-- <div *ngIf="!(verRegistrar || verIngresar)"> -->
              <h3>Bienvenido a Hero for Pets</h3>
              <p>Hero for pets, (héroe para mascotas en español) es una plataforma para mejorar el proceso de adopción
                de
                mascotas</p>
              <p> mas info y cosas para poner en la portada</p>
              <!-- </div> -->
            </div>

            <div class="col-sm-6">

              <mat-tab-group *ngIf="verIngresar" mat-stretch-tabs class="example-stretched-tabs ">
                <mat-tab label="Ingresar"> <app-login> </app-login> </mat-tab>
                <mat-tab label="Registro"> <app-registro> </app-registro> </mat-tab>
               
              </mat-tab-group>

            </div>
          </div>
        </div>

        <mat-toolbar color="primary" class="footer">
          <span>Creado por Alejandro Rossi y Emmanuel Pericon</span>
          <span class="rellenar"></span>
        </mat-toolbar>

      </div>
    </div>
  </div>
</div>