
  .espaciado {
    padding-right: 8px;
  }

  mat-form-field{
    width:100%;
  }

  .example-header-image {
    background-image: url('https://png.pngtree.com/element_our/png_detail/20181206/users-vector-icon-png_260862.jpg');
    background-size: cover;
  }