<span style="color:red">menu-usuario works!</span>

<p>
este menu de usuario deberia recibir </p>
<p>los datos del usuario</p>
<p> aca va para sali de aplicacion</p>
<p> link a modificar datos</p>
<p> abajo poner un "contactanos" va a nosotros </p>
<p> donaciones </p>
<p>salir</p>

<mat-list>
  <mat-list-item>link 01</mat-list-item>
  <mat-list-item>link 02</mat-list-item>
  <mat-list-item>
    <i class="fas fa-sign-out-alt"></i>
    <a mat-list-item (click)="signOut()"> Salir </a>
  </mat-list-item>
</mat-list>



