<div class="row">

  <div class="col">

    <!-- <mat-divider></mat-divider> -->

    <div mat-card-avatar class="example-header-image"></div>
    <span > placeholder datos de usuario </span>

    <!-- <mat-divider class="mt-3"></mat-divider> -->

    <mat-list>
        <mat-divider></mat-divider>
      <mat-list-item><a href="nosotros">Contactanos</a> </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><a href="info">Más sobre H4P</a></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item (click)="signOut()" style="cursor:pointer">
        <i class="fas fa-sign-out-alt"></i>
        <a mat-list-item> Salir de H4P</a>
      </mat-list-item>

    </mat-list>

  </div>
</div>