<h4 class="titulo-login mt-2 text-center">Ingresar a H4P </h4>

<form [formGroup]="myForm" (ngSubmit)="signIn()">
  <mat-form-field>
    <input matInput placeholder="Usuario/e-mail" formControlName="username">

    <mat-error *ngIf="getUsername.hasError('username') && !getUsername.hasError('required')">
      Debés ingresar un email válido.
    </mat-error>
    <mat-error *ngIf="getUsername.hasError('required')">
      El username es <strong>requerido</strong>
    </mat-error>

  </mat-form-field>

  <mat-form-field class="mt-2">
    <input matInput placeholder="Contraseña" formControlName="password" [type]="hide ? 'password' : 'text'">
    <mat-icon style="cursor:pointer" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
    </mat-icon>
  </mat-form-field>

  <div class="text-center">
    <mat-error *ngIf="submitted && error">{{error_message}}</mat-error>
  </div>

  <div class="text-center mt-4">
    <button type="submit" class="btn btn-outline-dark btn">Ingresar!</button>
  </div>

</form>