<div class="container-fluid fondo " style="min-height:100vh !important">
  <div class="row">
    <div class="col nopadding">
      <mat-toolbar color="primary" #toolB>
        <i class="fas fa-bars ml-3 tipo-btn" (click)="snav.toggle()"></i>
        <span class="ml-5" (click)="irA('h4p/principal')" style="cursor:pointer"> Hero for Pets </span>
        <span class="rellenar-tb"></span>
        <i class="far fa-bell mr-3" style="cursor:pointer"></i>
        <div [matMenuTriggerFor]="menu" matRipple [matRippleRadius]="'25'" [matRippleUnbounded]="true"
              [matRippleCentered]="true" title="Menú" class="tipo-btn">
          <i class="fas fa-ellipsis-v  ml-3 mr-3"> </i>
        </div>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="irA('/h4p/cargar-mascota')"> Cargar </button>
          <button mat-menu-item (click)="irA('/h4p/administracion')">Administración </button>
        </mat-menu>
<!-- 
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>dialpad</mat-icon>
              <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>voicemail</mat-icon>
              <span>Check voice mail</span>
            </button>
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button>
          </mat-menu> -->

      </mat-toolbar>
    </div>

  </div>
  <div class="row">
    <div class="col nopadding">

      <mat-sidenav-container class="fondo">
        <mat-sidenav #snav mode="over" class="sd-container" [fixedInViewport]="true">
          <button class="btn btn-danger" (click)="snav.toggle()"> close </button>
          <app-menu-usuario></app-menu-usuario>
          <!--sidenav-->
        </mat-sidenav>

        <mat-sidenav-content style="min-height:calc(100vh - 64px) !important">
          <div class="container-fluid mt-2">
            <div class="row">
              <div class="col">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>

        </mat-sidenav-content>

      </mat-sidenav-container>
    </div>
  </div>

</div>