
<div>
  <!-- TODO: boton para cerrar -->
  <!-- <p>
    <button mat-raised-button class="btn btn-outline-secondary pull-right redondo" (click)="dialogRef.close()">
      <i class="fas fa-times"></i>
    </button>
  </p>
  <br> <br> -->
  <div class="dialog-center-row">
    <div class="linea-negra mr-5px full-width"></div>
    <div mat-card-avatar class="perfil-image"></div>
    <div class="linea-negra ml-5px full-width"></div>
  </div>
  <div class="dialog-center-row">
    <h1 mat-dialog-title>{{data.name}} {{data.surname}}</h1>
  </div>
  <div mat-dialog-content class="dialog-center-row">
    <p>{{data.email}}</p>
  </div>
</div>