<div class="container-fluid">
    <div class="row">
        <div class="col">
            <mat-card class="mat-elevation-z5">
                <mat-card-title>Nueva mascota</mat-card-title>
                <hr>

                <form [formGroup]="formCarga" (ngSubmit)="cargarMascota()">

                    <mat-form-field>
                        <mat-label>Nombre de la mascota</mat-label>
                        <input matInput #nombreMascotaId formControlName="nombreMascotaCtrl">
                        <mat-hint align="end">{{nombreMascotaId.value?.length || 0}}/50</mat-hint>
                        <mat-error *ngIf="nombreMascotaId.value?.length < 2 && !getNombreMascota.hasError('required')">
                            El nombre es demasiado corto.
                        </mat-error>
                        <mat-error *ngIf="getNombreMascota.hasError('required')">
                            El nombre es requerido.
                        </mat-error>
                    </mat-form-field>

                    <br>

                    <mat-form-field appearance="standard">
                        <mat-label>Seleccione especie animal</mat-label>
                        <mat-select placeholder="Especie" formControlName="especieMascotaCtrl">
                            <mat-option *ngFor="let op of especies" [value]="op">
                                <i class='{{op.icon}} mr-1'></i> {{op.name}}
                            </mat-option>
                        </mat-select>

                        <mat-error *ngIf="getNombreMascota.hasError('required')">
                            Debe seleccionar una especie.
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="standard">
                        <mat-label>Descripción</mat-label>
                        <textarea matInput #descripcionMascotaId formControlName="descripcionMascotaCtrl"> </textarea>
                        <mat-hint align="end">{{descripcionMascotaId.value?.length || 0}}/500</mat-hint>

                        <mat-hint>No mencionar la raza
                            <span (click)="tooltip.show()" class="badge badge-pill badge-primary ml-2"
                                matTooltip="{{aviso}}" style="font-size:0.8em; cursor:pointer">
                                <i class="fas fa-info"></i></span>
                        </mat-hint>

                    </mat-form-field>

                    <br>

                    <mat-form-field appearance="standard">
                        <mat-label>Edad Aprox.</mat-label>
                        <input type="number" matInput #edadAproxId formControlName="edadAproxCtrl">

                    </mat-form-field>
                    <br>
                    <mat-radio-group>
                        <mat-radio-button value="anios">En años</mat-radio-button>
                        <mat-radio-button class="ml-2" value="meses">En meses</mat-radio-button>
                    </mat-radio-group>
                    <!-- </div> -->


                </form>

                <input class="mt-3" type='file' accept=".jpg,.jpeg, .png, .PNG, .JPG" (change)="onSelectFile($event)">

                <p> <img [src]="url" *ngIf="url" required> <br /> </p>

                <p class="mt-3 small">*Campos requeridos</p>

            </mat-card>


        </div>
    </div>
</div>