// .carga-form {
//     display: inline-flexbox ;
//     flex-direction: column;
//   }
  
  // .carga-form > * {
  //   width: 100%;
  // }

  .example-full-width {
    width: 100%;
  }
  
  .espaciado {
    padding-right: 8px;
  }

  mat-form-field{
    width:90%;
  }

  .example-header-image {
    background-image: url('https://www.ecured.cu/Perro#/media/File:Perros1.jpg');
    background-size: cover;
  }