<h4 mat-dialog-title>Aceptar o rechazar adopciones</h4>

<div class="row">
  <div class="col nopadding">

    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>
          Estado actual
          <i class="fas fa-info-circle text-info" style="font-size: 1.2em"></i>
        </th>
        <td mat-cell *matCellDef="let element"
          [ngClass]="(esRechazado(element))?'roja': element.status=='aceptado' ?'verde':' '">
          {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"
          [ngClass]="(esRechazado(element))?'roja': element.status=='aceptado' ?'verde':' '">
          {{element.user.surname}}, {{element.user.name}} </td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Usuario </th>
        <td mat-cell *matCellDef="let element"
          [ngClass]="(esRechazado(element))?'roja': element.status=='aceptado' ?'verde':' '">
          {{element.user.username}}
        </td>
      </ng-container>

      <ng-container matColumnDef="aceptar">
        <th mat-header-cell *matHeaderCellDef>
          <div class="alineado"> Aceptar </div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="text-center" *ngIf="!hayAceptado()">
            <button class="btn btn-outline-primary redondo mat-elevation-z6" (click)="aceptar(element)">
              <i class="fas fa-check"></i>
              <i class="fas fa-undo" *ngIf="element.status=='rechazado'" style="font-size:9px"></i>
            </button>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="rechazar">
        <th mat-header-cell *matHeaderCellDef>
          <div class="text-center">Rechazar</div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="text-center"
            *ngIf="(element.status != 'rechazado' || element.status=='pendiente' && !hayAceptado()) || (element.status=='aceptado') ">
            <button class="btn btn-outline-danger redondo mat-elevation-z6" (click)="rechazar(element)">
              <i class="fas fa-times"></i>

            </button></div>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    <div *ngIf="data.aceptado">
      <span>¿Desea aceptar a <em><strong>{{data.aceptado.user.username}}</strong></em> <span
          *ngIf="esUsuarioRechazado()"> aunque haya sido rechazado previamente</span>?</span>
      <button class="btn btn-outline-primary redondo ml-3" [mat-dialog-close]="data.aceptado">
        <i class="fas fa-check"></i>
      </button>
    </div>
    <!-- <div *ngIf="rechazado"> 
      ¿Desea rechazar a estos postulantes?
      <button mat-button mat-dialog-close>confirmar</button>
    </div> -->



  </div>
</div>