table {
  width: 100%;
}

.alineado{
  text-align: center!important;
}

@media only screen and (max-width: 650px) {

  ::ng-deep .mat-dialog-container{
    padding-left:0.2em;
    padding-right:0.2em;
  }

  .alineado{
    text-align: left!important;
  } 

}

.roja{
  color:red;
}

.verde{
  color:green;
}