.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

::ng-deep .mat-slide-toggle-thumb {
  background-color: #cce4e4;
}

::ng-deep  .mat-slide-toggle-bar {
  background-color: rgba(0, 0, 0, 0.24);
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #3ae4b6!important;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
background-color: rgba(156, 240, 226, 0.54);
}