<mat-card class="publicacion">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{pet.name}}</mat-card-title>
    <mat-card-subtitle>{{pet.type}}</mat-card-subtitle>
  </mat-card-header>
  <div [innerHTML]="preimage | sanitizeHtml"></div>
  <br>
  <mat-card-content>
    <p>
      {{pet.characteristics}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button class="btn btn-outline-primary" (click)="addPostulant()" *ngIf="!isOwner">¡Quiero adoptarlo!</button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-card-subtitle class="text-footer">Publicado por: {{pet.user.name}} {{pet.user.surname}}</mat-card-subtitle>
  </mat-card-footer>
</mat-card>