.publicacion {
  max-width: 18rem;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  //TODO: cambiar por imagenes del refugio que carga esto
  background-size: cover;
}