.publicacion {
  max-width: 18rem;
}

.text-footer {
  margin: 10px;
}

.suscrito{
  color:rgb(18, 206, 18);
  width:50px;
  margin-top:0;
  font-size:1.3em;
  cursor:pointer;
}

a.perfil-usuario {
  cursor: pointer;
  color:#007bff;
}

// .control-size{
//   width:100%;
//   width: 200px;
//   max-width:200px!important;
// }

