.publicacion {
  max-width: 18rem;
  max-height: 30rem;
}

.suscrito{
  background: -webkit-linear-gradient(rgb(44, 204, 161), rgb(0, 255, 187));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width:2em;
  top:0.3em;
  position: absolute;
  right: 0.3em;
  font-size:1.3em;
  cursor:pointer;
  margin-bottom:0px;
}

a.perfil-usuario {
  cursor: pointer;
  color:#007bff;
}

mat-card {
  // padding-top: 0px;
}


// .contenido-ajuste{
//   width: fit-content!important;
// }

