<mat-card  [ngClass]="esAdministracion()">
  <div class="suscrito" *ngIf="isOwner && completa || esPostulante">
    <i class="fas fa-bookmark pull-right"
      matTooltip="Ya se ha enviado una solicitud de adopción para esta mascota."></i>
  </div>

  <img mat-card-image  style="max-width: -webkit-fill-available!important;" 
    [src]="preimage" alt="{{pet.name}}">`

  <div class="h5">{{pet.name}} - <span class="text-muted small">{{pet.type}}</span> </div>
  <mat-card-subtitle><span>Publicado por: </span>
    <a class="perfil-usuario" (click)="verPerfilUsuario()">{{pet.user.name}}</a></mat-card-subtitle>

  <mat-card-content>
    <p class="mt-2">
      {{pet.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>

      <div *ngIf="isOwner" class="text-center">

          <button class="btn btn-outline-danger redondo sin-borde mr-5" (click)="eliminar()">
            <i class="far fa-trash-alt"></i>
          </button>
    
          <button class="btn btn-outline-primary redondo sin-borde ml-5" (click)="editar()">
            <i class="fas fa-pencil-alt"></i>
          </button>
        </div>

    <div class="text-center" *ngIf="completa && !isOwner && !esPostulante">
      <button class="btn btn-outline-primary" (click)="addPostulant()">¡Quiero adoptar!</button>
    </div>
  </mat-card-actions>

</mat-card>