<div class="container-fluid fondo">
  <mat-card class="mat-elevation-z6">
    <div class="row">
      <div class="col ">
        <span class="h5">Solicitudes </span> - {{statusSolicitud}} {{creacionTiempo}} {{ordenSolicitud}}
        <hr>
        <p>
          <mat-chip-list>
            <mat-chip class="mat-elevation-z4" style="cursor:pointer" (click)="getSolicitudesPendientes()">
              Pendientes
            </mat-chip>

            <mat-chip class="mat-elevation-z4" style="cursor:pointer" (click)="getSolicitudesAceptadas()">
              Aceptadas
            </mat-chip>

            <mat-chip class="mat-elevation-z4" (click)="filtrarSolicitudesCantPostulantes()" style="cursor:pointer">
              <i class="mr-1 fas fa-arrow-{{solicitudFiltro}}"></i> Solicitantes
            </mat-chip>

            <mat-chip class="mat-elevation-z4" style="cursor:pointer" (click)="getSolicitudesTodas()">
              Todas
            </mat-chip>

            <mat-chip class="mat-elevation-z4" (click)="filtrarSolicitudesCreatedDate()" style="cursor:pointer">
              {{creacionTiempo  | titlecase}}
            </mat-chip>
          </mat-chip-list>
        </p>
        <hr>
      </div>
    </div>
    <div class="row">
      <p class="ml-4" *ngIf="!solicitudes?.length">No hay solicitudes pendientes.</p>
      <div class=" col mx-2 mt-2" *ngFor="let sols of solicitudes">
        <app-solicitud [publicacion]="sols" (eventoRefrescar)="actualizarSolicitudes($event)"></app-solicitud>
      </div>
    </div>
  </mat-card>
  <br>

  <div class="row">
    <div class="col ">
      <mat-card class="mat-elevation-z6">
        <p>
          <span class="h5">Mis publicaciones </span>

          <button class="btn btn-outline-primary redondo ml-2 pull-right" style="border:none"
            matTooltip="Filtrar publicaciones" (click)="filtra=!filtra">
            <i class="fas fa-filter "></i>

          </button>
        </p>
        <hr>

        <!-- BARRA DE BUSQUEDA -->
        <mat-card class="mt-3 mat-elevation-z6" style="padding: 10px; padding-top: 0px" *ngIf="filtra">
          <div class="row">
            <div class="col">
              <div class="mt-2">
                <mat-checkbox class="ml-3 " [(ngModel)]="pubPrivadas">Privadas</mat-checkbox>
                <mat-checkbox class="ml-3 " [(ngModel)]="pubPublicas">Públicas</mat-checkbox>


                <button class="btn btn-outline-primary pull-right redondo  mr-2" style="border:none" (click)="buscar()"
                  matTooltip="Filtrar">
                  <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-outline-primary pull-right redondo mr-2" style="border:none"
                  matTooltip="Limpiar filtros" (click)="formBusqueda.reset()">
                  <i class="fas fa-redo"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field appearance="standard">
                <input autocomplete="off" matInput (click)="pickerDesd.open()" [matDatepicker]="pickerDesd"
                  placeholder="Desde..." [(ngModel)]="fechaDesde">
                <mat-datepicker-toggle matSuffix [for]="pickerDesd"></mat-datepicker-toggle>
                <mat-datepicker #pickerDesd></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="standard">
                <input autocomplete="off" matInput (click)="pickerHasta.open()" [matDatepicker]="pickerHasta"
                  placeholder="...Hasta" [(ngModel)]="fechaHasta">
                <mat-datepicker-toggle matSuffix [for]="pickerHasta"></mat-datepicker-toggle>
                <mat-datepicker #pickerHasta></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="col ">
              <div [formGroup]="formBusqueda">
                <mat-form-field appearance="standard" style="width:100%!important">
                  <mat-label>Texto en nombre o descripción...</mat-label>
                  <input matInput formControlName="textoMascotaCtrl" autocomplete="off">
                  <mat-hint>Máximo 100</mat-hint>
                </mat-form-field>
              </div>
            </div>
            <div class="col ">
              <div [formGroup]="formBusqueda2">
                <mat-form-field appearance="standard" style="width:100%!important">
                  <mat-label>De especie...</mat-label>
                  <mat-select placeholder="Especie" formControlName="especieMascotaCtrl">
                    <mat-option *ngFor="let op of especies" [value]="op">
                      <i class='{{op.icon}} mr-1'></i> {{op.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-card>

        <div class="row card-group mt-3">
          <div class="col" *ngFor="let p of publications">
            <!-- se piden las publicaciones del usuario -->
            <app-card-mascota [pet]="p.pet" [idPublication]="p._id" [isOwner]="true" [completa]="false">
            </app-card-mascota>

          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>