<div class="container-fluid fondo">
  <div class="row">
    <div class="col ">
      <p><span class="h4">Solicitudes </span> </p>

      <mat-button-toggle-group name="requests" class="shadow-sm">
        <mat-button-toggle value="newReq"> Nuevas</mat-button-toggle>
        <mat-button-toggle value="acceptedReq">Aceptadas</mat-button-toggle>
        <mat-button-toggle value="deniedReq">Rechazadas</mat-button-toggle>
      </mat-button-toggle-group>
      <hr>

      <p> *placeholder publicaciones* </p>
      <app-solicitud></app-solicitud>

      <hr>

    </div>

  </div>

  <div class="row">
    <div class="col ">
      <p><span class="h4">Publicados </span> <span class="text-muted ml-3"> - {{grupoPublicaciones.value}} </span> </p>

      <mat-button-toggle-group name="publications" class="shadow-sm" #grupoPublicaciones="matButtonToggleGroup">
        <mat-button-toggle value="Últimos cargados" selected>Últimos cargados</mat-button-toggle>
        <mat-button-toggle value="Publicados">Publicados</mat-button-toggle>
        <mat-button-toggle value="Adoptados">Adoptados</mat-button-toggle>
        <mat-button-toggle value="Privados">Privados</mat-button-toggle>
      </mat-button-toggle-group>

      <mat-card class="mt-3">
        <div [formGroup]="formBusqueda">
          <mat-form-field appearance="standard">
            <mat-label>Buscar...</mat-label>
            <input matInput>
            <!-- <i class="fas fa-search" matSuffix style="cursor:pointer" (click)="buscar()"></i> -->
          </mat-form-field>

          <mat-form-field class="ml-3">
            <mat-label>Seleccione especie</mat-label>
            <mat-select placeholder="Especie" formControlName="especieMascotaCtrl">
              <mat-option *ngFor="let op of especies" [value]="op">
                <i class='{{op.icon}} mr-1'></i> {{op.name}}
              </mat-option>
            </mat-select>

            <!-- <mat-error *ngIf="getNombreMascota.hasError('required')">
              cantidad maxima de caracteres 100
            </mat-error> -->
          </mat-form-field>

          <button mat-mini-fab class="white-icon ml-4 text-primary " matTooltip="Adoptados">
              <i class="fas fa-search" (click)="buscar()"></i>
            </button>
        </div>
      </mat-card>


      <hr>

      <!-- <button mat-mini-fab class="white-icon" matTooltip="Últimos cargados">
        <i class="far fa-calendar-alt text-primary"></i>
      </button>
      <button mat-mini-fab class="white-icon ml-2 text-primary" matTooltip="Publicados en adopción">
        <i class="fas fa-globe"></i>
      </button>
      <button mat-mini-fab class="white-icon ml-2 text-success " matTooltip="Adoptados">
        <i class="fas fa-check"></i>
      </button>
      <button mat-mini-fab class="white-icon ml-2 text-danger " matTooltip="No publicados">
        <i class="fas fa-lock"></i>
      </button> -->

      <!-- buscador por texto
      filtro por especie
      filtro por edad- NO -->

    </div>
  </div>
</div>