<h3>Mascotas en adopci&oacute;n</h3>
<hr>

<h5>&Uacute;ltimas cargadas <button class="btn btn-outline-primary sin-borde redondo ml-2"
    matTooltip="Filtrar publicaciones" (click)="filtra=!filtra">
    <i class="fas fa-filter "></i>
  </button></h5>


<mat-card class="mt-3 mat-elevation-z6" style="padding: 10px; padding-top: 0px" *ngIf="filtra">
  <div class="row">

    <div class="col">

      <mat-form-field appearance="standard">
        <input autocomplete="off" matInput (click)="pickerDesd.open()" [matDatepicker]="pickerDesd"
          placeholder="En adopción desde" [(ngModel)]="fechaDesde">
        <mat-datepicker-toggle matSuffix [for]="pickerDesd"></mat-datepicker-toggle>
        <mat-datepicker #pickerDesd></mat-datepicker>
      </mat-form-field>
    </div>


    <div class="col">
      <div [formGroup]="formBusqueda2">
        <mat-form-field appearance="standard">
          <mat-label>De especie...</mat-label>
          <mat-select placeholder="Especie" formControlName="especieMascotaCtrl">
            <mat-option *ngFor="let op of especies" [value]="op">
              <i class='{{op.icon}} mr-1'></i> {{op.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <button class="btn btn-outline-primary pull-right redondo mt-2 mr-2" style="border:none" 
      (click)="filtrar()" matTooltip="Filtrar">
    <i class="fas fa-search"></i>
  </button>
  </div>

</mat-card>


<div class="row mt-3">

  <div class="col" *ngFor="let p of publications">

    <app-card-mascota [pet]="p.pet" [idPublication]="p._id" [usadaEnAdmin]="false" [isOwner]="isOwner(p)"
      [esPostulante]="esPostulante(p)" [completa]="true">
    </app-card-mascota>

  </div>
</div>