<h3>Mascotas en adopci&oacute;n</h3>
<hr>

<h5>&Uacute;ltimas cargadas <button class="btn btn-outline-primary sin-borde redondo ml-2"
    matTooltip="Filtrar publicaciones" (click)="filtra=!filtra">
    <i class="fas fa-filter "></i>
  </button></h5>

<div class="row" *ngIf="filtra">
  <div class="col"></div>
  <div class="col">
    <mat-card style="padding:0">
      <div class="col">
        <mat-form-field appearance="standard" style="width:100%">
          <input autocomplete="off" matInput (click)="pickerDesd.open()" [matDatepicker]="pickerDesd"
            placeholder="En adopción desde" [(ngModel)]="fechaDesde" style="width:100%!important">
          <mat-datepicker-toggle matSuffix [for]="pickerDesd"></mat-datepicker-toggle>
          <mat-datepicker #pickerDesd></mat-datepicker>
        </mat-form-field>

      </div>

      <div class="col">
        <div [formGroup]="formBusqueda2" style="width:100%!important">
          <mat-form-field appearance="standard" style="width:100%">
            <mat-label>De especie...</mat-label>
            <mat-select placeholder="Especie" formControlName="especieMascotaCtrl">
              <mat-option *ngFor="let op of especies" [value]="op">
                <i class='{{op.icon}} mr-1'></i> {{op.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div class="text-right">
            <button class="btn btn-outline-primary sin-borde redondo mt-2 mr-2" (click)="filtrar()"
              matTooltip="Filtrar">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>

    </mat-card>
  </div>
  <div class="col"></div>
</div>

<div class="row mt-3">

  <div class="col" *ngFor="let p of publications">

    <app-card-mascota [pet]="p.pet" [idPublication]="p._id" [status]="p.status" [isOwner]="isOwner(p)"
      [esPostulante]="esPostulante(p)" [completa]="true">
    </app-card-mascota>

  </div>
  <div class="col" *ngIf="publications?.length <= 3"> </div>
  <div class="col" *ngIf="publications?.length <= 4"> </div>
</div>