/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands"; 


.nopadding{
  padding-right: 0!important; 
  padding-left: 0!important;
 }

 .rellenar-tb {
  flex: 1 1 auto;
}

.tipo-btn:active{
  color:rgb(73, 58, 102);
}

.tipo-btn:hover{
  cursor:pointer;
}

.mat-menu-content{
  // background-color: red!important;
  // background-color: rgba(0, 0, 0, 0)!important;
  // cambiar a transparente?
}

.white-icon {
  background-color: white!important;
}