<mat-card class="mat-elevation-z6" style="max-width:300px; width:fit-content;">
  <div class="adoptado pull-right" *ngIf="hayAceptado()">
    <i class="far fa-check-circle " matTooltip="Ya se ha aceptado una postulacion para esta mascota"></i>
  </div>
  <div class="h6">{{publicacion.pet.name}} - <p class="text-muted ">{{publicacion.pet.type}}</p> </div>
  <hr>
  <mat-card-content>
      
    <span>
      {{publicacion.pet.description}}
    </span>
  </mat-card-content>

  <mat-card-actions>

    <div class="text-center">
      <button class="btn btn-outline-primary redondo mat-elevation-z4" matBadge="{{cantPostulantes}}"
        [matBadgeHidden]="hayAceptado() || (cantPostulantes < 1)" matBadgePosition="after" matBadgeColor="accent"
        (click)="verPostulantes()" matTooltip="{{cantPostulantes}} postulantes ">
        <i class="fas fa-users-cog" style="font-size:1.3em"></i>
      </button>
    </div>

  </mat-card-actions>

</mat-card>