<mat-card class="mat-elevation-z6" style="max-width:300px; width:fit-content">

  <mat-card-header>

    <mat-card-title> {{publicacion.pet.name}} - <span class="text-muted small">{{especie}}</span> </mat-card-title>

  </mat-card-header>

  <mat-card-content>
    <!-- <div [innerHTML]="preimage | sanitizeHtml"> </div> -->

    Placeholder imagen de fondo

  </mat-card-content>

  <mat-card-actions>

    <div class="text-center">
      <button mat-mini-fab color="primary"  matBadge="{{cantPostulantes}}"
        matBadgePosition="after" matBadgeColor="accent" (click)="verPostulantes()">
        <i class="fas fa-users-cog" style="font-size:1.3em"></i>
      </button>
    </div>
    
  </mat-card-actions>

</mat-card>